In [1]:
from taipy.gui import Gui, Markdown
import pandas as pd
import duckdb
import ibis

In [2]:
# Connect to your DuckDB database using Ibis
con = ibis.duckdb.connect('C:/Users/Apoorva Shetty/Documents/GitHub/SummerProject/data/llm_based_exploration/samhsa_data.db')
con.list_tables() # List the tables in the db")

['Demographics',
 'EmploymentDetails',
 'LegalInfo',
 'SubstanceUseHistory',
 'TreatmentInformation',
 'ValueLabelMapping',
 'teds_a_raw_2015_2019']

In [3]:
ibis.options.interactive = True

In [4]:
sus_use = con.table('SubstanceUseHistory').execute()

In [5]:
sus_use.head()

,CASEID,ADMYR,SUB1,ROUTE1,FREQ1,FRSTUSE1,SUB2,ROUTE2,FREQ2,FRSTUSE2,...,MTHAMFLG,AMPHFLG,STIMFLG,BENZFLG,TRNQFLG,BARBFLG,SEDHPFLG,INHFLG,OTCFLG,OTHERFLG
0,20151524993,2015,2,1,3,2,1,-9,-9,-9,...,0,0,0,0,0,0,0,0,0,0
1,20151449532,2015,5,3,-9,7,3,2,1,3,...,1,0,0,0,0,0,0,0,0,0
2,20151431263,2015,3,3,1,5,1,-9,-9,-9,...,0,0,0,0,0,0,0,0,0,0
3,20151401765,2015,2,1,-9,3,1,-9,-9,-9,...,0,0,0,0,0,0,0,0,0,0
4,20151461771,2015,5,4,1,5,10,2,1,3,...,1,0,0,0,0,0,0,0,0,0

In [6]:
page_md = Markdown("<|{sus_use}|table|>")
gui = Gui(page=page_md)
gui.run()

[2024-07-30 18:12:12][Taipy][INFO] Running in 'single_client' mode in notebook environment
[2024-07-30 18:12:17][Taipy][INFO]  * Server starting on http://127.0.0.1:5000

c:\Users\Apoorva Shetty\miniconda3\envs\llm_env\Lib\site-packages\gevent\hub.py:161: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

In [12]:
page_md.set_content("""
# Raw Data

<|{sus_use}|table|>
""")
gui.reload()

[2024-07-30 18:16:08][Taipy][INFO] Running in 'single_client' mode in notebook environment
[2024-07-30 18:16:10][Taipy][INFO]  * Server starting on http://127.0.0.1:5000
[2024-07-30 18:16:11][Taipy][INFO] Gui server has been reloaded.

c:\Users\Apoorva Shetty\miniconda3\envs\llm_env\Lib\site-packages\gevent\hub.py:161: UserWarning: libuv only supports millisecond timer resolution; all times less will be set to 1 ms
  with loop.timer(seconds, ref=ref) as t:

Invalid session OmQdudcQOZ6I_mzbAAAA (further occurrences of this error will be logged with level INFO)